<h1> 記事リスト</h1>
<p>
  <%= link_to '新規記事作成', new_article_path %>
</p>

<table>
<tr>
  <th>Title</th>
  <th>Text</th>
  <th colspab = "3">投稿内容 編集 削除</th>
</tr>
<% @articles.each do |article| %>
<tr>
  <td>|
    <%= article.title %>
  </td> |
  <td>
    <%= truncate(article.text, length: 75) %>
  </td>
  <td> |
    <%= link_to '記事詳細', article_path(article) %>
  </td>
  <td> |
    <%= link_to '編集', edit_article_path(article) %>
  </td>
  <td> |
    <%= link_to '削除', article_path(article), method: :Delete, data: {confirm: '本当に削除しますか ?'} %>
  </td>
</tr>
<% end %>
</table>
<p>
  <%= link_to 'Home', welcome_index_path %>
</p>
