<div class="row">
  <div class="col"></div>
  <div class="col-md-7">
    <%= image_tag 'nobuo_blog.jpg', :class => "style_image2" %>
    <p>
      <h2>タイトル</h2>
      <strong><%= @article.title %></strong>
    </p>
    <p>
      <%= @article.created_at.strftime('%A %-b %-d, %Y | %l:%M %p') %>
    </p>
    <p>
      <h3>記事</h3>
      <%= @article.text %>
    </p>
    <hr>

    <%= render 'comments/comment' %>

    <% if current_user %>
    <hr>

    <%= render 'comments/form' %>
    <% else %>
    <%= link_to 'サインイン', new_session_path %> か <%= link_to 'Sign Up', new_user_path %>をして下さい。
    <% end %>

    <p><br><%= link_to 'Back', articles_path, class: 'btn btn-md btn-info' %>
      <%= link_to 'Home', welcome_index_path, class: 'btn btn-md btn-primary' %>
    </p>
  </div>
  <div class="col"></div>
</div>
