<section class="footer">
  <div class="row">
    <div class="col-md-4 darker">
      <div class="col-md-12 pd white">
        <h4>General Info</h4>
        <hr>
        <h5 class="linktxt">Address Line1</h5>
        <h5 class="linktxt">Address Line2</h5>
        <h5 class="linktxt">Address Line3</h5>
        <hr>
        <p class="small-font gray">&copy; nobuo_web 2019 All Rights Rserved</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 pd white">
        <h4>Subscribe</h4>
        <hr>

        <%= form_for :subscriber, url: subscribers_path do |f| %>
        <%= f.text_field :f_name, placeholder: "First Name",
                        class:"form-control mr-sm-2 sm_style" %>
        <%= f.text_field :l_name, placeholder: "Last Name",
                        class:"form-control mr-sm-2 sm_style" %>
        <%= f.email_field :email, placeholder: "Your Email",
                        class:"form-control mr-sm-2 sm_style" %>
        <div class="form-control2 sm_style" >
        <%= f.select :country,
              options_for_select(['Country1', 'Country2', 'Country3', 'Country4']),
              prompt: '国名' %>
        </div>
        <%= f.submit '送信', class:"btn btn-light my-2 my-sm-0" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 dark">
      <div class="col-md-12 pd white">
        <h4>SNS</h4>
        <h5><%= link_to 'facebook', welcome_index_path, class:"linktxt" %></h5>
        <h5>twitter</h5>
        <h5>youtube</h5>
      </div>
    </div>
  </div>
</section>
