<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Nobuo's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= active_link_to 'ホーム','welcome', 'index', welcome_index_path, "active_nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'ブログ', 'articles', 'index', articles_path, "active_nav-link" %>
      </li>
      <% if current_user && current_user.admin? %>
        <li class="nav-link">
          <%= active_link_to '購読者一覧', 'subscribers','index', subscribers_path, class:"active_nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'サインアウト', session_path('active'), method: :delete, class:"active_nav-link"%>
        </li>
        <li class="nav-link">
          <%= current_user.userid %>様
        </li>
      <% elsif current_user %>
        <li class="nav-item">
          <%= link_to 'サインアウト', session_path('active'), method: :delete, class: "active_nav-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'サインイン', new_session_path, class: "active_nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'ユーザー作成', new_user_path, class: "active_nav-link" %>
        </li>
      <% end %>
      </ul>


      <div class="form-inline mt-2 mt-md-0">
        <%= form_tag search_articles_path, method: :get do %>
        <%= text_field_tag :search, nil, placeholder: "Search", class: "form-control mr-sm-2" %>
        <%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
